.LoginContainer {
    min-height: 100vh;
    background-color:#611db9;
    
}

.LoginSubContainer {
    padding: 20px;
    background-color:#ffffff;
   
}

.btnEnter {
    background-color: #280b4e;
    border-color: #1c0836;
}

.btnEnter:hover {
    background-color: #1c0836;
    border-color: #1c0836;
}

.btnEnter:focus {
    background-color: #1c0836;
    border-color: #1c0836;
}

.RoomContainer {
    background-color: #611db9;
    min-height: 100vh;
}

.RoomSubContainer {
    background-color: #ffffff;
    height: 100%;
}

.RoomInfo {
    text-align: center;
}


@media (min-width: 320px) {
    .LoginSubContainer {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .LoginSubContainer {
        width: 40%;
    }
}